
$bs-gutter-x: 1.5rem;
$bs-gutter-y: 0;
$spacer : 1;


// Grid Min-width layout Pages grid
$grid-breakpoints-up: (xs : 0 , sm: 576px , md: 768px,lg: 992px ,xl: 1200px ,xxl: 1400px);
// Grid max-width layout Pages grid
$grid-breakpoints-down: (sm: 575.98px , md: 767.98px ,lg: 991.98px ,xl: 1199.98px ,xxl: 1399.98px);

// container widths
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);

// direction-Position
$direction-Position: (
    0: 0%,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
);
// columns about col
$columns: 12;

// columns about row
$columns-row : 6;

// padding with grid columns
$padding : (
    left : 0.9375rem,
    right : 0.9375rem,
);

// this for h1 , h2 , h3
$display-Header: (
  1: 4rem,
  2: 3.5rem,
  3: 3rem,
  4: 2.5rem,
  5: 2rem,
  6: 1.5rem
);

// direction text align
$text-direction : (
    start  : start,
    center : center,
    end    : end,
    justify : justify,
);

// display 
$displays : (
    none : none,
    inline-block : inline-block,
    block : block,
    grid : grid,
    flex : flex,
    inline-flex : inline-flex,
);

// dimensions
$dimensions: (
  25 : 25%,
  50 : 50%,
  75 : 75%,
  100: 100%,
);

// flex wrap
$flex-direction : (
    row : row,
    row-reverse : row-reverse,
    column : column,
    column-reverse : column-reverse,
);

// grid Layout
$grid : (
    100 : 100,
    200 : 200,
    300 : 300,
    400 : 400,
    500 : 500,
    600 : 600,
);


// font bold all 
$font-bold: (
    100 : "weight",
    200 : "weight",
    300 : "weight",
    400 : "weight",
    500 : "weight",
    600 : "weight",
    700 : "weight",
    800 : "weight",
    900 : "weight",
);


